/* Dox viewer */
#x-main-panel
{
    width: 100%;
    height: 100%;
}

.dox-viewer-title
{
    padding: 3 6 0 9;
    font-weight: bold;
    font-size: 20px;
    color: #416AA3;
    line-height: 40px;
    vertical-align: middle;
    text-shadow: #fff 1px 1px 0px;
	text-align: center;
}

/* Tree icons */
.book-node {
	background: url(../images/icons/tree/docs.gif) 0 50% no-repeat !important;
}

.chapter-node {
	background: url(../images/icons/tree/package_obj.gif) 0 50% no-repeat !important;
}

.document-node {
	background: url(../images/icons/tree/class_obj.gif) 0 50% no-repeat !important;
}

.search-item {
	padding: 6px;
}

.search-item img.item-icon {
	background: 0 50% no-repeat;
	width: 16px;
	height: 16px;
	vertical-align: top;
	margin-right: 3px;
}

.search-item a.section {
	margin: 6px;
	font-weight: bold;
	text-decoration: none;
    color: #333399;	
}

.search-item a.document {
	margin: 6px;
	text-decoration: none;
	color: #777;
}

.search-item p.description {
	padding-top: 0;
	padding-left: 27px;
	font-size: 0.9em;
	color: #444;
}

.search-item a:hover {
	text-decoration: underline;
}

.search-results {
	padding: 6px;
}
